/* Loading Spinner */
.loader-title {
  color: #b31312;
  font-size: 3.5rem;
  text-align: center;
  letter-spacing: 2px;
  margin: 7rem 0 0;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8rem 0 7rem;
}

.loader::after {
  content: "";
  width: 170px;
  height: 170px;
  border: 28px solid #ccc;
  border-top-color: #b31312;
  border-radius: 100%;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
