/* Loading Spinner */
.loader-title {
  color: #b31312;
  font-size: 4rem;
  text-align: center;
  margin: 7rem 0 0;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8rem 0 7rem;
}

.loader::after {
  content: "";
  width: 170px;
  height: 170px;
  border: 28px solid #ccc;
  border-top-color: #b31312;
  border-radius: 100%;
  animation: loading 1s linear infinite;
}

.loader-title::after {
  content: "";
  animation: ellipsis 1.5s infinite;
}

@keyframes ellipsis {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
