/* Detail Page */
.pokemon-detail {
  padding: 2vh 5vw;
}

.pokemon-detail__stats-heading {
  color: #b31312;
  margin: 7rem 0 2rem;
  font-size: 3.2rem;
}

.pokemon-detail__stats-text {
  color: #b31312;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid #b31312;
  width: max-content;
  text-transform: capitalize;
  font-size: 2rem;
  margin: 0;
}

.pokemon-detail__stats-stat {
  color: #000;
  text-align: center;
  font-size: 1.6rem;
  margin: 1rem 0 0;
}

.pokemon-detail__stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

.pokemon-detail__nearby-heading {
  color: #b31312;
  font-size: 4rem;
  margin: 6rem 0 3rem;
}

.pokemon-detail__nearby {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .pokemon-detail__stats-heading {
    font-size: 4.8rem;
  }

  .pokemon-detail__stats-text {
    font-size: 2.4rem;
  }

  .pokemon-detail__stats-stat {
    font-size: 2rem;
  }

  .pokemon-detail__nearby-heading {
    font-size: 5.6rem;
  }
}
