/* Pokemon Card */
.pokemon-card {
  background: #b31312;
  flex-shrink: 0;
  width: 276px;
  height: 356px;
  border-radius: 1.5rem;
  border: 2px solid #3f3d43;
  padding: 1.6rem;
  cursor: pointer;
  transition: transform 0.5s;
}

.current-pokemon {
  background: orange;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-card__image {
  width: 100%;
  height: 70%;
  background: linear-gradient(45deg, #a2a297, #eee);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: 3px solid #202020;
}

.pokemon-card__no-image {
  width: 100%;
  height: 70%;
  background: linear-gradient(45deg, #a2a297, #eee);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: 3px solid #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 1.8rem;
  margin: 0;
  text-transform: capitalize;
}

.pokemon-card__heading {
  text-transform: capitalize;
  font-size: 3rem;
}
