/* Generation Page */
.pokemon-gen {
  padding: 3vh 4vw;
}

.pokemon-gen__heading {
  margin: 0;
  text-transform: capitalize;
  color: #b31212;
  font-size: 4rem;
}

.pokemon-gen__cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3.2rem 2.4rem;
}

.pokemon-gen__btn {
  background: #b31212;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0.8rem 3.2rem;
  border-radius: 2.3rem;
  font-size: 3.2rem;
  transition: transform 0.5s;
}

.pokemon-gen__btn:hover {
  transform: scale(1.05);
}

.pokemon-gen__btn-container {
  display: flex;
  justify-content: center;
}
