/* Search Input
.input {
  padding: 0.25rem 1rem;
  border-radius: 30px;
  border: 0;
  outline: none;
  font-size: 1.6rem;
  width: 100%;
}

.input-group {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

@media screen and (min-width: 300px) {
  .input {
    min-width: 20vw;
  }
} */

.input {
  padding: 1rem;
  border-radius: 30px;
  border: 0;
  outline: none;
  flex-grow: 1;
  width: 100%;
}

.input::placeholder {
  color: #bbb;
}

.input-group {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  width: 30rem;
}
