/* Searched Pokemon List */
.searched-pokemon-heading {
  margin: 0;
  color: #b31212;
  font-size: 4rem;
}

.searched-pokemon-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3.2rem 2.4rem;
}

.searched-pokemon-btn-container {
  display: flex;
  justify-content: center;
}

.searched-pokemon-btn-container__btn {
  background: #b31212;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0.8rem 3.2rem;
  border-radius: 2.3rem;
  font-size: 3.2rem;
  transition: transform 0.5s;
}

.searched-pokemon-btn-container__btn:hover {
  transform: scale(1.05);
}
