/* Search Input  */
.input {
  border-radius: 30px;
  outline: 0;
  padding: 0.5rem 1.5rem;
  width: 100%;
  border: 0;
}

.input::placeholder {
  color: #bbb;
}

.input-group {
  display: flex;
  border-radius: 3rem;
  background-color: #fff;
}
