/* Global Styles */
html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reusable Container Class */
.container {
  max-width: 1272px;
  margin: 0 auto;
}

/* Typography */
body {
  font-family: "Pokemon Solid", sans-serif;
  font-size: 1.8rem;
  color: #fff;
  margin: 0;
}

h1,
h2 {
  font-size: 4rem;
  color: #000;
}

h3 {
  font-size: 3rem;
}

p {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 6rem;
  }

  p {
    font-size: 2.4rem;
  }
}

/* Links */
a {
  text-decoration: none;
  color: #fff;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}
